Pre-lecture questions:

Question 2

In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

question 2

In [5]:
num_rows, num_columns = df.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 391
Number of columns: 11

definition of obersvations in my own owrds: obersvation is a single row in the Dataframe and every row correpesonds to a oberservations such as person,even, obejct. Each observation represents single entry upon the data has been measured and recorded.   

definition of varibles in my own words: The different things that can be measured and recorded for each entity, it corresponds to the columns of the dataset. It can be quantitative or qualitative. For example, a patient's data set can include bloodtype, age, and weight.

Step 3 Ask the ChatBot how you can provide simple summaries of the columns in the dataset and use the suggested code to provide these summaries for your dataset

In [10]:
numeric_summary = df.describe()
categorical_summary = df.describe(include=['object'])
print("Numeric Columns Summary:")
print(numeric_summary)
print("\nCategorical Columns Summary:")
print(categorical_summary)

Numeric Columns Summary:
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

Categorical Columns Summary:
             id     name gender species birthday personality          song  \
count       390      391    391     391      391         391           380
unique      390      391      2      35      361           8            92
top     admiral  Admiral   male     cat     1-27        lazy  K.K. Country
freq          1        1    204      23        2          60            10

         phrase           full_id  \
count       391               391
unique      388               391
top     wee one  villager-admiral
freq          2                 1

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1

question 4 If the dataset you're using has (a) non-numeric variables and (b) missing values in numeric variables, explain (perhaps using help from a ChatBot if needed) the discrepancies between size of the dataset given by df.shape and what is reported by df.describe() with respect to (a) the number of columns it analyzes and (b) the values it reports in the "count" column

- To check if your dataset has non-numeric variables, you can check the column data types using df.dtypes.
df.describe() by default only shows summary statistics for numeric columns. So, if you have non-numeric columns (e.g., strings or categories), they will be excluded from the df.describe() output unless you specify include=['object'].

- df.describe() only includes non-null (non-missing) values when calculating statistics. If there are missing values (NaN) in any numeric column, the count will be less than the total number of rows

Understanding the discrepancies between df.shape and df.describe():
Number of columns analyzed by df.describe():

df.shape returns the total number of rows and columns in the dataset.
df.describe() only includes numeric columns unless you use include='all'. This explains why the number of columns in df.describe() is often smaller than the total number of columns in df.shape.
Values in the "count" column in df.describe():

The "count" in df.describe() represents the number of non-null (non-missing) values in each column. If a column has missing values, the count will be less than the total number of rows (df.shape[0]).
If you have numeric columns with missing values, the count in df.describe() will be smaller than the number of rows in the dataset.

Question 5

An attribute is a feature or quality of an object that stores information 
Since attributes just hold data or state and are not called, they don't need parentheses when accessed.
You can directly access the value or data by accessing an attribute.
attribute does not need a bracket 


A method is a function that operates on an object by being linked to it. The class of the object contains the definition of its methods
A method do need a bracket

Post-lecture

question 6

count: The number of missing values.
    
mean: The middle number in a data set 

std: This stands for standard deviation and it is a number to measure how the data is spreading. 

min: This is the minimum number in a data set. 
    
    
25%: This is the first quartile. It means that 25% of the data is smaller or equal than this number. 
    
    
50%: This is the median. It means that 50% fo the data is smaller or equal than this number. 
    
    
75%: This is the third quartile. It mrans that 75% of the data is smaller or equal than this number. 
    
    
max: This is the maximum number in data set.

Question 7

Provide an example of a "use case" in which using df.dropna() might be peferred over using del df['col']

 An example will be When removing rows with missing value, df.dropna() might be preferred because you want to clean the dataset by removing only the rows that have missing values, while keep the rest of the data where it used to be.

Provide an example of "the opposite use case" in which using del df['col'] might be preferred over using df.dropna()


When you want to delete an entire column, regardless of the mssing values, df['col']is more preferred. 
If there is many different columns and there is columns that are unuseful, then df['col'] could delete that certain columns.

Discuss why applying del df['col'] before df.dropna() when both are used together could be important


Using df['col'] before df.dropna() is to avoid unnecessary row deletions.

Remove all missing data from one of the datasets you're considering using some combination of del df['col'] and/or df.dropna() and give a justification for your approach, including a "before and after" report of the results of your approach for your dataset.

In [16]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.dropna()
df9

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...,...,...
386,475,winnie,Winnie,female,horse,1-31,peppy,My Place,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,wolfgang,Wolfgang,male,wolf,11-25,cranky,K.K. Song,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,yuka,Yuka,female,koala,7-20,snooty,Soulful K.K.,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,zell,Zell,male,deer,6-7,smug,K.K. D&B,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,zucker,Zucker,male,octopus,3-8,lazy,Spring Blossoms,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

Justification: there


Before: 




After:

Question 8 

1) df.groupby("col1")["col2"].describe(): it means this groups the dataframe df by the values in column "col1".
Each unique value in "col1" will define a group of rows in the dataframe. Selects column "col2" from the grouped dataframe, indicating that we want to perform operations only on this column for each group. Last the describe()means computes descriptive statistics (like count, mean, standard deviation, min, max, quartiles, etc.) for each group, on the specified column ("col2").

- It basiclly means it will give out the statistics for specified columns. 



2) 

df.groupby("col1")["col2"].describe() (Grouped Count)

In df.describe(), each column is treated independently, and you’re getting a general overview of the dataset for each column.

In df.groupby("col1")["col2"].describe(), the statistics are contextualized by the groupings in col1, meaning the data is sliced into smaller parts, and the count reflects how many valid col2 values are in each group of col1.
Stems from the context in which the counts are being calculated—one is across the whole dataset (ignoring any groupings), while the other is within the context of groups, reflecting how much data is available for col2 within each group of col1.

There is also Count Discrepancies of this two functions:

In df.describe(), the count reflects the non-missing values for each column separately. This is useful for understanding how complete your dataset is in general.

In df.groupby("col1")["col2"].describe(), the count tells you how many col2 values exist within each group of col1. This is more granular and captures the data's structure based on how the data is divided by col1.



3)


A) chatgpt is better 

chatgpt is very straight forward and telling me that I need to ensure that the neccessary libraries are imported, such as pandas. It gives me the complete code with the imported statement 



B)
chatgpt is better 

chatgpt give me a bunch a stuff that I can check to solve the issue, inlcuding check file path, verify file name, check working directory, and file presence. At the last repsonse, it proivde me with a example correction and it is super helpful. 

C)
chatgpt is better 

When imported a code with wring spelling. Chatgpt actually found out the mistakes and give me suggestions that there is missedspeeled variable or column names in my code that I want to troubleshoot. 


D)
chatgpt is better 
when imported a code by forgetting one of the parentheses Chatgpt told me that and I think it is clear then google search:

Check for Missing Parentheses: Your code is missing a closing parenthesis in pd.read_csv. Make sure it is corrected. 


E)

In this situation, chatgpt tells me that the issue with your code is that group_by is not a valid method in Pandas. The correct method to use is groupby.

google search gives me some werid response which I didn't really understand. 

chatgpt is better 


F)
chatgpt is better 

chatgpt gives me some troubleshooting tips include Ensure Column Names Exist, Initialization, and Syntax and Method Names. 

G)
chatgpt is better 

chatgpt give the steps that how I should correct the code. It guides me and tells me that I need to Load the Villagers Dataset, Replace Placeholder Column Names, and it gives me a example of full code. 


After testing all the scenrios using google search and chatgpt. I found that Chatgpt is more specified and clear than google reaches as it provides very detailed explantions and steps. Most of the time I do research using google, it generally gives me the definitions of the error intead og teaching me how to solve the issue. That is why I did summarize my google research for each of the cases because most of the time, it gives me defintions for certain function and it did not help me to find what was the issue that I created in the code. In this case, I felt chatgpt is more convenient for me since it can give me steps and tell me how to solve the issue. By using Chatgpt, I felt that I am talking to a AI professor and I can directly ask the question that I want to ask.

Question 9 


I have reviewed the course wiki-textbook and I also connected wiht chatgpt to helo me understand my homework quesions for this course.

Here is the three links of my chatgpt history: 


https://chatgpt.com/share/dd59ca4e-4777-4faa-aa0b-62797c3e40bf
https://chatgpt.com/c/66dc82d8-6138-8001-a40d-8f3758e39fdf 
https://chatgpt.com/c/66e1d379-5b20-8001-826d-e1c7a79369de